* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

p,
a,
h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
    color: #000;
}

h2 {
    font-size: 32px;
    font-weight: 800;
}

button {
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: #00000030;
}

button:active {
    cursor: default;
    background-color: inherit;
}

html {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
}

header {
    display: flex;
    flex-direction: column;
    width: 1440px;
    height: 140px;
    background-color: #fff;
    margin-bottom: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #ededed;
    width: 100%;
}

.navbar__list {
    display: flex;
    align-items: center;
    height: 45px;
    gap: 5px;
    margin: 0px 30px 0px 30px;
}

.--secondary-list {
    gap: 30px;
}

.link {
    list-style-type: none;
}

.menu-link {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 13px;
}

.nav-icon {
    position: relative;
    height: 15px;
    margin-right: 10px;
    top: 2px;
}

.nav-service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    box-shadow: #00000025 0px 0px 20px;
    background-color: #fff;
}

.service-wrapper {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.service-logo {
    height: 55px;
    margin-right: 6px;
}

.service-name {
    font-size: 20px;
    font-weight: 800;
    color: #ca474c;
}

.--secondary-service-name {
    color: #83b37d;
}

.service-profile-link {
    font-size: 15px;
    font-weight: 800;
    color: #000000;
    text-decoration: none;
    margin-right: 40px;
}

main {
    display: flex;
    width: 100%;
}

.main__left {
    width: 350px;
}

.main__right {
    margin-left: 40px;
    width: 1100px;
}

.sidebar__research-filter {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: #00000025 0px 0px 20px;
    background-color: #fff;
    margin-left: 40px;
    margin-bottom: 40px;
}

.sidebar__title-section {
    display: flex;
    align-items: center;
    background-color: #83b37d;
    width: 100%;
    height: 64px;
}

.--filter-section {
    margin-bottom: 22px;
}

.sidebar__title {
    display: flex;
    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 33px;
}

.sidebar__wrapper {
    display: flex;
}

.--filter-wrapper {
    margin-bottom: 10px;
}

.--column {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 11px;
}

.sidebar__option-btn {
    display: flex;
    align-items: center;
    margin-left: 30px;
    height: 42px;
    width: 100px;
    border: none;
    padding: 0px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.option-btn__icon {
    height: 20px;
}

.option-btn__name {
    margin-left: 15px;
    display: flex;
    font-size: 14px;
    font-weight: 500;
}

.human-img {
    height: 300px;
    width: 158px;
    margin: auto 5px auto 0px;
}

.vial-section {
    display: flex;
    gap: 19px;
    margin-left: 30px;
    margin-bottom: 35px;
}

.vial-icon {
    height: 25px;
}

.researches-btns {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 35px;
}

.researches-btn {
    background-color: #83b37d;
    padding: 8px;
    border: none;
}

.researches-btn:hover {
    background-color: #5b7b57;
}

.--rsrch-show {
    width: 220px;
    text-align: left;
}

.btn-text {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.burger-menu-icon {
    height: 13px;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    height: 320px;
    background-image: url('./img/welcome-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 40px;
    margin-bottom: 35px;
    box-shadow: #00000025 20px;
}

.welcome-title {
    display: flex;
    font-size: 42px;
    font-weight: 800;
    line-height: 2.6rem;
    margin-top: 80px;
    margin-left: 45px;
}

.welcome-text {
    margin-top: 33px;
    margin-left: 45px;
    font-size: 21px;
    font-weight: 400;
    line-height: 2rem;
}

.welcome-info__title {
    margin-top: 33px;
    margin-bottom: 30px;
}

.welcome-info__grid {
    display: grid;
    grid-template-columns: repeat(2, 0.45fr);
    gap: 44px;
    margin-bottom: 40px;
}

.welcome-info__cell {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 30px;
}

.cell-icon-wrraper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-color: #ededed;
}

.--primary-cell-bg {
    background-color: #83b37d;
}

.cell__icon {
    height: 50px;
}

.cell__text {
    width: 290px;
    font-size: 18px;
    line-height: 1.4;
}

.instruction-section {
    position: relative;
}

.instruction-title {
    position: absolute;
    top: 0;
}

.instruction__cell {
    display: flex;
    background-color: #83b37d;
    align-items: center;
}

.instruction-section {
    display: flex;
}

.instruction__block {}

.instruction__block {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.instruction-num {
    font-size: 130px;
    font-weight: 800;
    color: #e1e1e1;
}

.instruction__block:first-of-type .instruction-screen {
    margin-left: 33px;
}

.instruction__block:nth-of-type(2) .instruction-screen {
    margin-right: 33px;
}

.instruction__block__title {
    margin-bottom: 20px;
    margin-left: 10px;
}

.instruction__block__text {
    width: 320px;
    font-size: 18px;
    line-height: 1.4;
    margin-left: 10px;
}

.sidebar__research-journal {
    display: flex;
    flex-direction: column;
    box-shadow: #00000025 0px 0px 20px;
    background-color: #fff;
    margin-left: 40px;
}

.sidebar__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    height: 70px;
}

.card__date-wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.card__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}

.card__date,
.card__time {
    font-size: 14px;
    color: #787878;
}

.--primary-card {
    background-color: #e1e1e1;
}

.footer {
    display: flex;
    width: 100%;
    height: 110px;
    background-color: #83b37d;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    color: #fff;
}

.--footer-elem {
    color: #fff;
    margin: 0px 30px 0px 30px;
    font-size: 15px;
    font-weight: 400;
}

.footer__btn-up {
    border: none;
    background: none;
    padding: 20px;
}